
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    background-color: rgb(255, 250, 215);
}
@media only screen and (max-width: 400px){
    .d-container{
        left: 10% !important;
    }
    .wrong{
        margin-left: 17%;
    }
    .alert{
        left: 10% !important;
    }
}
@media only screen and (max-width: 500px){
    .container{
        flex-direction: column;
        left: 0 !important;
        gap: 1rem !important;
        justify-content: center !important;
        top : 4% !important;
      
    }
    .td{
        width: 60px !important;
        height: 60px !important;
    }
    .d-container{
        left: 20% ;
        gap: 1em !important;
        margin-left: 0 !important;
    }
    .tr{        
        flex-direction: column;    
    }
    .alert{
        width: 250px !important;
        height: 150px !important;
        left: 20%;
        font-size: 30px !important;
        margin-left: 0 !important;
        padding-top: 3.2rem !important;
    }
    .timer{
  
        left: 10% !important;
        top: 22% !important;
        width: 55px !important;
        height: 55px !important;
        font-size: 35px !important;
        padding-top: 0.5rem !important;
    }
    .wrong{
        
        font-size: 35px !important;
    }
    .btn ,.restart-btn{
        font-size: 0.8rem !important;
    }
    
}


.timer{
    box-shadow: 0 3px 3px 1px rgb(140, 140, 140);
    background-color: #fad783;
    color: rgb(12, 2, 17);
    left: 10%;
    top: 15%;
    border-radius: 3rem;
    width: 100px;
    height: 100px;
    position: absolute;
    font-size: 50px;
    padding-top: 1rem;
    text-align: center;
    transition: all 1s ease-in-out;
}
.wrong{
    color: rgb(255, 33, 113);
    font-size: 50px;
}
.buttons{
    transition: all 0.5 ease-in-out;
    display: flex;
    gap: 1rem;
}
.btn{
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 163, 83);
    width: 100px;
    height: 60px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 10px;
    
}
.fade{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: 0.8;
    z-index: 80;
    position: fixed;
    display: none;
}
.alert{
    transition: all 0.5s ease-in-out;
    display: none;
    font-size: 45px;
    padding-top: 3.2rem;
    text-align: center;
    border-radius: 50px;
    width: 350px;
    height: 180px;
    position: absolute;
    top: 30%;
    margin-left: 40%;
    background-color: rgb(253, 253, 255);
    z-index: 99;
}
.restart-btn{
    font-size: 1rem;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 33, 113);
    width: 100px;
    height: 60px;
    cursor: pointer;
    border-radius: 10px;
}
.hover:hover{
    background-color: rgba(31, 163, 84, 0.469) !important;
    border: none;
    cursor: pointer;
}
.container{
    justify-content: center;
    left : 10%;
    gap: 5.5rem;
    display: flex;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 5%;
}
.level{
    width: 5rem;
    height: 4rem;
    border: none;
    border-radius: 1.5rem;
    cursor: pointer;
    background-color: white;
    font-size: 1rem;
    transition: all 0.5s ease-in-out;
}
.lvl{
    display: flex;
    gap: 1rem;
}
.lvl div{
    text-align: center;
   
}
.selected{
    background-color: rgb(255, 33, 113);
    color: white;
    border: none !important;
    box-shadow: 0 6px 8px rgba(83, 73, 73, 0.877);
}
.td{
    box-shadow: -7px 6px 7px  rgba(83, 73, 73, 0.877);
    border-radius: 10rem;
    width: 100px;
    height: 100px;
    transition: all 0.3s ease-in-out;
}
.d-container{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 30%;
    top: 30%;
}
.top,.down{
    gap: 1rem;
    display: flex;
}
.tr{
    gap: 1rem;
    width: 100%;
    height: 100%;
    display: flex;

}